{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	{# {% block navbar %} #}
		{# {{ nav.top.render() }} #}
		{#{% include 'includes/_navbar.html' %} #}
	{# {% endblock %} #}

	<div class="container">
		<h1>{{ post.title }}</h1>
		<hr>
		{# Meta 信息 #}
		<span>作者:{{ user.username }}</span> <span>{{ ("发表日期") }}:{{ post.created }}</span>
		<br/>
		<br/>
		<br/>

		{{ post.id }}
		{# 正文 #}
		<div>
			{{ post.content | safe }}
		</div>


		{% for comment in comments %}
			{{ comment.comment }}
			{{ comment.created }}

		{% endfor %}

		{% for comment in comments %}
			{{ comment.user_id }}
		{% endfor %}

	
			{{ user.username }}


		{# 操作链接 #}
		<h3>评论</h3>
		<hr>
		{# 发表评论 #}
		<div>
			{{ wtf.quick_form(form) }}
		</div>

		{# 评论列表 #}
		{% for comment in comments|sort(attribute='created',reverse=True ) %}
		<hr>
			<div class="media">
				<div class="media-left">
					<a href="#">
                        <img class="media-object img-circle" src="{{ '{{ user.email }}' | gravatar }}" alt="头像">{{ comment.user_id }}
                    </a>

				</div>
				<div class="media-body">
					<small class="text-muted">{{ comment.created }}</small>
					<div>{{ comment.comment }}</div>

				</div>
			</div>
		{% endfor %}
	</div>

{% block footer %}
    <hr>
    {{ super() }}
{% endblock %}

{% endblock %}

