<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Grandpaan</title>
	<style type="text/css">
		@font-face { 
			font-family: Euphoria; 
			src: url('Euphoria Script.ttf'); 
		}
		div{
			background: url(F:/微信公众号/微信公众号IMG_20180324_104315.jpg)
		}
	</style>
	 
</head>
<body>
<div>
	<svg width="1366" height="600" xmlns="http://www.w3.org/2000/svg">
		<g>
			<text font-style="italic" font-weight="bold" stroke="#000" transform="matrix(1.7172061163457737,0,0,1.9133310317993164,-224.76954043487325,-105.87504570186138) " xml:space="preserve" text-anchor="start" font-family="Euphoria, sans-serif" font-size="25" id="svg_1" y="266.08887" x="641.84819" stroke-width="0" fill="#A98E49">By Grandpa An</text>
		</g>
	</svg>
</div>
</body>
</html>
